@font-face {
    font-family: 'Mona Sans';
    src:
        url('../../common/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../../common/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 500;
}

html {
    font-family: 'Mona Sans';
    font-weight: 500;
}

body {
    display: flex;
    margin: 0;
}

.heart-icon {
    padding: 0 5px 0 0;
    color: red;
}

.container {
    background-color: #0d1117;
    width: 135px;
    height: 55px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.main-button {
    background: #0d1117;
    color: #f0f6fc;
    border: 1px solid #3d444d;
    border-radius: 6px;
    padding: 7px 11px 7px 11px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
}

.main-button:hover {
    background: #151b23;
}